{% extends "base.html" %}

{% block content %}
    <div class="container"><h1>Configuration des groupes</h1>
        <form action="/config/" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Ok</button>
            <a href="/liste/" class="button">Annuler</a>
        </form>
    </div>
    <div class="container">
        <p>Taille des groupes: {{ config.group_size }}</p>
        <p>Taille du dernier groupe: {{ config.last_group_size }}</p>
    </div>
{% endblock %}

