{% extends "base.html" %}

{% block content %}
    <h1>Utilisateurs sans groupes</h1>
    <div class="flow">
        <a href="/creer-groupe/" class="button">Créer un groupe</a>

        <form action="/liste/" method="post">
            {% csrf_token %}
            <button type="submit" class="button">Rejoindre le groupe</button>
            <select name="join_id"  id="join_id">
                {% for groupe in infos_groupes %}
                    <option value="{{ groupe.id }}">{{ groupe.code }} ({{ groupe.nombre_membres }})</option>
                {% endfor %}
            </select>
        </form>

        {% if request.session.username == 'admin' %}
            <a href="/config/" class="button">Configurer les groupes</a>
        {% endif %}
    </div>
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
{% endblock %}

